
<div class="condor-container">
    <div class="wing left-wing">
    <h3>Today's Trade 🚀</h3>
    <table class="wings-table">
        <thead>
          <tr>
            <th></th>
            <th>Left Wing</th>
            <th>Right Wing</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Strike1</td>
            <td>{{ data.PUT_STRIKE0 }}P &#64; {{data.PUT_STRIKE0_SELL}}</td>
            <td>{{ data.CALL_STRIKE0 }}C &#64; {{data.CALL_STRIKE0_SELL}}</td>
          </tr>
          <tr>
            <td>Strike2</td>
            <td>{{ data.PUT_STRIKE0 }}P &#64; {{data.PUT_STRIKE1_BUY}}</td>
            <td>{{ data.CALL_STRIKE0 }}C &#64; {{data.CALL_STRIKE1_BUY}}</td>
          </tr>
          <tr>
            <td>Spread Credit</td>
            <td>{{ data.PUT_WING_CREDIT }}</td>
            <td>{{ data.CALL_WING_CREDIT }}</td>
          </tr>
          <tr>
            <td>Total Credit</td>
            <td></td>
            <td>{{ data.TOTAL_CREDIT }}</td>
          </tr>
          <!-- Other data elements -->
        </tbody>
      </table>
    </div>
    <!-- <div class="wing left-wing">
        <h3>Left Wing</h3>
        <dl>
          <dt>Strike:</dt>
          <dd>{{ data.PUT_STRIKE0 }}P</dd>
          <dt>Total Credit:</dt>
          <dd>{{ data.TOTAL_CREDIT }}</dd>
        </dl>
    </div> -->
  
    <div class="body">
      <div class="head">
        <!-- Graph for cumulative balance -->
        <plotly-plot [data]="graph1.data" [layout]="graph1.layout"></plotly-plot>
      </div>
    </div>
  
    <div class="wing right-wing">
        <h3>Strategy Stats</h3>
        <table class="wings-table">
            <thead>
              <tr>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Daily Avg</td>
                <td>$150</td>
              </tr>
              <tr>
                <td>Best Trade</td>
                <td>$540</td>
              </tr>
              <tr>
                <td>Starting Balance</td>
                <td>$10,000</td>
              </tr>
              <tr>
                <td>Current Balance</td>
                <td>$14,300</td>
              </tr>
              <tr>
                <td>Profit</td>
                <td>$4,300</td>
              </tr>
              <!-- Other data elements -->
            </tbody>
          </table>
        </div>
</div>
  